/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand: #d81e06 !important;
    --vp-c-brand-light: #d81e06 !important;
    --vp-button-brand-border:#F44336 !important;
    --vp-button-brand-hover-bg:#ad1805 !important;
    --vp-button-brand-hover-border:#f15b50 !important;
    --vp-button-brand-active-bg:#ad1805 !important;
    --vp-button-brand-active-border:#f15b50 !important;
}

.VPHome .VPHomeHero .container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
 
.VPHome .VPHomeHero .container .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.VPNavBarTitle  .title{
    display: none;
}
.VPNavBarTitle.has-sidebar  .title{
    display:flex;
    color: var(--vp-c-brand);
    font-size: 26px;
    letter-spacing: 4px;
}