/* .vitepress/theme/custom.css */
:root {
    --vp-c-indigo-1: #d81e06;
    --vp-c-brand-3:hsl(7, 95%, 44%);
    --vp-c-brand-2: #f15b50;
    --vp-c-brand-1:#d81e06;

    --vp-c-brand: #d81e06 ;
    --vp-c-brand-light: #d81e06 ;
    --vp-button-brand-border:#F44336 ;
    --vp-button-brand-hover-bg:#ad1805 ;
    --vp-button-brand-hover-border:#f15b50 ;
    --vp-button-brand-active-bg:#ad1805 ;
    --vp-button-brand-active-border:#f15b50 ;
    --vp-c-green-lighter:#F44336;
    --vp-c-brand-dark:#d81e06;
}

.VPHome .VPHomeHero .container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
 
.VPHome .VPHomeHero .container .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.VPNavBarTitle  .title{
    display: none;
}
.VPNavBarTitle.has-sidebar  .title{
    display:flex;
    color: var(--vp-c-brand);
    font-size: 26px;
    letter-spacing: 4px;
}